{% extends 'enroll/base.html' %}
{% load static %}
{% block content %}
<div class="col-som-10">
<h3 class="text-white my-5"> About Page</h3>
<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum excepturi vel a modi recusandae minus quis, pariatur quasi optio nam, impedit expedita cum, esse odit fugit provident unde? Praesentium voluptatum doloremque, vel eos natus dolorem provident quasi consequuntur commodi aliquid perspiciatis quia maiores accusantium mollitia laborum, aperiam, quos aspernatur exercitationem.</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate commodi laboriosam facere repellendus illum impedit cum iste corporis doloremque dolores magni, quaerat quos dignissimos pariatur maxime nostrum illo incidunt exercitationem error alias recusandae ab quidem! Reprehenderit recusandae cumque dolores eaque harum sint quisquam, praesentium, ea fugit nihil aperiam ratione! Nihil.
</div>
{% endblock content %}